@use 'animation' as *;
@use 'ccm-center' as center;
@use 'ccm-items' as items;

.ccm-full-page {
  width: 100svw;
  min-height: 100svh;
  max-height: 100svh;
  overflow: hidden;
  // height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ccm-con {
  --ccm-parallax-x: 0px;
  --ccm-parallax-y: 0px;
  --ccm-tilt-x: 0deg;
  --ccm-tilt-y: 0deg;
  // max-width: 100svw;
  // max-height: 100svh;
  // width: 100svw;
  // height: 100svh;
  // width: 100%;
  // height: 100%;
  // perspective 和 overflow 互斥，前者会设置 overflow: flat
  // overflow: hidden;
  // margin 最多只能水平居中
  // width: 1;
  // height: 1;
  // margin: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 10;
  // display: flex;
  // place-items: center;
  // flex-direction: column;
  // overflow: hidden;
  transform-style: preserve-3d;
  transform: perspective(300px) rotateX(var(--ccm-tilt-y)) rotateY(var(--ccm-tilt-x));
  transition: transform 180ms ease-out;
  // opacity: var(--ccm-bg-opacity, 1);
  // backdrop-filter: blur(var(--ccm-bg-blur, 0px));


  &.row {
    flex-direction: row;
  }

  * {
    margin: 0;
    // 不知为何这个优先级这么高
    // padding: 0;

    &:focus-visible {
      outline: none;
    }
  }

  .ccm-center {
    // 别问问就是报错要加上 !optional
    @extend center !optional;
  }

  .ccm-items {
    @extend items !optional;
  }

}