.ccm-con {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 10;
  display: flex;
  place-items: center;
  flex-direction: column;
  // opacity: var(--ccm-bg-opacity, 1);
  // backdrop-filter: blur(var(--ccm-bg-blur, 0px));

  &.row {
    flex-direction: row;
  }

  .ccm-center {

    position: relative;
    padding: 12px 20px;
    // padding: min(calc(var(--ccm-center-radius) - 8), 12px) 20px;
    border: var(--ccm-center-border-size, 2px) solid var(--ccm-center-border-color, #333);
    border-radius: var(--ccm-center-radius, 20px);
    background-color: var(--ccm-bg-center-color, hsl(0, 0%, 100%));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: var(--ccm-bg-opacity, 1);
    backdrop-filter: blur(var(--ccm-bg-blur, 0px));

    img,
    h3,
    p {
      width: fit-content;
      margin: 0 auto;
    }

    img {
      display: block;
      width: var(--ccm-center-icon-size, 32px);
      height: var(--ccm-center-icon-size, 32px);
    }

    h3 {
      font-size: var(--ccm-center-title-size, 16px);
      color: var(--ccm-center-title-color, #333);
    }

    p {
      font-size: var(--ccm-center-subtitle-size, 12px);
      color: var(--ccm-center-subtitle-color, #666);
    }
  }

  .ccm-items {
    min-height: max(var(--ccm-menu-length, 0), 100px);
    padding: 16px 8px;
    background-color: var(--ccm-bg-menu-color, hsl(0, 0%, 93%));
    border: 0px solid transparent;
    border-radius: var(--ccm-items-radius, 10px);
    position: absolute;
    left: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateX(-50%) rotate(var(--ccm-item-deg)) translateX(var(--ccm-item-x)) translateY(calc(var(--ccm-item-y) * -1));
    transition: padding 0.3s ease,
      filter 0.3s ease,
      transform 0.3s ease,
      border 0.3s ease;
    color: var(--ccm-menu-color, hsl(0, 0%, 20%));
    white-space: nowrap;
    font-size: var(--ccm-items-size, 14px);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;

    &.text-up {}

    // haiku 4.5 都补不出来的属性😋
    &.text-right {
      writing-mode: sideways-lr;
    }

    &.text-left {
      writing-mode: sideways-rl;
    }

    &.text-down {
      transform: translateX(-50%) rotate(var(--ccm-item-deg)) translateX(var(--ccm-item-x)) translateY(var(--ccm-item-y));
      writing-mode: vertical-lr;
    }

    &:hover,
    &:focus,
    &:active {
      filter: brightness(0.95);
      padding: 20px 10px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      transform: translateX(-50%) rotate(var(--ccm-item-deg)) translateX(var(--ccm-item-x)) translateY(calc(var(--ccm-item-y) * -1 - 15px)) scale(1.08);
      border: var(--ccm-center-border-size, 2px) solid var(--ccm-center-border-color, #333);

      &.text-down {
        transform: translateX(-50%) rotate(var(--ccm-item-deg)) translateX(var(--ccm-item-x)) translateY(calc(var(--ccm-item-y) + 15px)) scale(1.08);
      }
    }
  }
}