.ccm-con {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  place-items: center;
  flex-direction: column;
  opacity: var(--ccm-center-opacity, 1);
  backdrop-filter: blur(var(--ccm-center-blur, 0px));

  &.row {
    flex-direction: row;
  }

  .ccm-center {

    padding: 12px 20px;
    // padding: min(calc(var(--ccm-radius) - 8), 12px) 20px;
    border: var(--ccm-center-border-size, 2px) solid var(--ccm-center-border-color, #333);
    border-radius: var(--ccm-radius, 10px);
    background-color: var(--ccm-bg-center-color, hsl(0, 0%, 100%));

    img,
    h3,
    p {
      width: fit-content;
      margin: 0 auto;
    }

    img {
      display: block;
      width: var(--ccm-center-icon-size, 32px);
      height: var(--ccm-center-icon-size, 32px);
    }

    h3 {
      font-size: var(--ccm-center-title-size, 16px);
      color: var(--ccm-center-title-color, #333);
    }

    p {
      font-size: var(--ccm-center-subtitle-size, 12px);
      color: var(--ccm-center-subtitle-color, #666);
    }
  }

    .ccm-items {
      min-width: var(--ccm-menu-length, 300px);
      padding: 8px 16px;
      background-color: var(--ccm-bg-menu-color, hsl(0, 0%, 93%));
      border: none;
      border-radius: var(--ccm-radius, 10px);
      position: absolute;
      transform: rotate(var(--ccm-item-deg)) translateX(var(--ccm-item-x)) translateY(var(--ccm-item-y));
  
      &:hover,
      &:focus,
      &:active {
        backdrop-filter: brightness(0.9);
      }
    }
}